extends extends/base

//-block header
  //- include includes/header

block content
  include includes/page_equipo
  #general
    include includes/banner
    include includes/equipos
    include includes/planes
    include includes/pasos_online
  include includes/requisitos
  include includes/beneficios 
  



//- block footer
//-   include includes/footer
