#banner-portabilidad
  .item-banner._1
    .curva
    .information
      h1 Cámbiate a Movistar y #[br]duplicamos tus GB
      p.text Hasta por 6 meses
    .sticker
      p Delivery #[br]#[span.hand #[b Gratis]]
