#beneficios-portabilidad
  h2 Beneficios Exclusivos
  .container
    .box-benefit
      .benefit
        .benefit_icon
          img(src=url+"/documents/80379/8777288/icons_movistarPrix.png/", alt="Movistar Prix")
        .benefit_description
          p Movistar Prix
          span Beneficios exclusivos y experiencias #[br]únicas para todos los clientes.
      .benefit
        .benefit_icon
          img(src=url+"/documents/80379/8777288/icons_movistarPlay.png/", alt="Movistar Play")
        .benefit_description
          p Movistar Play
          span Canales exclusivos, series, películas, #[br]TV en vivo y más.