#equipos-portabilidad
  h2 Equipos Recomendados
  .container
    .carousel-equipos.owl-carousel.owl-theme
    //-   .wrapper
    //-     .imagen
    //-       .sticker-phone
    //-         img(src=url+"/documents/80379/8777288/sticker_4G_promocion.png/", alt="")
    //-       .phone
    //-         img(src=url+"/documents/80379/8777288/phone_1.png/", alt="", srcset="")
    //-     .description
    //-       .title #[b Apple] #[br]iPhone 6S 32GB
    //-       .price En 18 cuotas de #[br]#[span S/ 50]
    //-       .plan Plan Elige Más S/85.90
    //-     .btn-phone
    //-       a(href="#") Lo quiero
    //- .btn-catalogo
    //-   a(href="http://catalogo.movistar.com.pe/smartphones" target="_blank") Ir al catálogo  
    //-     span >
