#pasos_online
  h2 Delivery gratis con tu compra Online
  .container
    .carousel_pasos_online.owl-carousel.owl-theme
      .wrapper
        .description.__1
          span Elige el producto que deseas comprar,#[br] luego confirma el plan y tipo de  #[br]contrato.
      .wrapper
        .description.__2
          span Llena tus datos personales#[br] de contacto.
      .wrapper
        .description.__3
          span Te estaremos llamando #[br]para confirmar tu pedido y #[br]coordinar la entrega gratuita.
      .wrapper
        .description.__4
          span Cuando llegue el Delivery, paga #[br]con tarjeta de débito o crédito.




